<mat-sidenav-container class="sidenav-container">
  <mat-sidenav color="primary" #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'over'"
    >
    <mat-toolbar>सद्ग्रंथ अभ्यास</mat-toolbar>
    <mat-nav-list>
      <a mat-button routerLink="/viveksindhu" (click)="drawer.toggle()" routerLinkActive="active">विवेकसिंधु</a>
      <br>
      <!-- <a mat-button routerLink="/panchadashi-shivgad" (click)="drawer.toggle()" routerLinkActive="active">Panchadashi @ Shivgad</a> -->
      <a mat-button routerLink="/panchadashi-usa" (click)="drawer.toggle()" routerLinkActive="active">पंचदशी</a>
      <!-- <a mat-list-item href="/panchadashi-shivgad" routerLinkActive="active">Panchadashi @ Shivgad</a>
      <a mat-list-item href="/panchadashi-usa" routerLinkActive="active">Panchadashi New </a> -->
      <!-- <a mat-list-item href="#">Viveksindhu </a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>&nbsp;&nbsp;&nbsp;सद्ग्रंथ अभ्यास&nbsp;&nbsp;&nbsp;</span>
      <div [hidden]="(isHandset$ | async) === true">
        <a mat-button routerLink="/viveksindhu" routerLinkActive="active">विवेकसिंधु </a>
        <!-- <a mat-button routerLink="/panchadashi-shivgad" routerLinkActive="active">Panchadashi @ Shivgad</a> -->
        <a mat-button routerLink="/panchadashi-usa" routerLinkActive="active">पंचदशी</a>
        <!-- <a mat-button>Viveksindhu </a> -->
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>